node_modules/*
assets/*
*~
*#
*pyc
museServer/node_modules/*
data/bookmarks.edited.json
data/satellites/cache
scripts/SPACE_TRACK_AUTH.py
scripts/STDB/*
dist/*
local/*
models/*
videos/*
junk/*
*/junk/*
*/*/junk/*
.DS_Store
